{{#with model as |talk|}}
<section class="day talk">

  {{#if talk.imageUrl}}
    <img src="{{talk.imageUrl}}" alt={{talk.title}} class="round" data-photo-id={{talk.id}}>
  {{/if}}
  <h3>{{talk.title}}</h3>

    <div class="speakers">{{array-join talk.speakers ', '}}</div>
    <div>{{talk.time}}</div>

  <div>
    {{{talk.description}}}
  </div>
</section>
{{/with}}
