{{#with model as |talk|}}
  <section class="day">
    <div class="row small-collapse medium-uncollapse">
        <div class="event-time small-12 medium-4 columns">
          <p>{{talk.time}}</p>
        </div>
      <div class="event-info small-12 medium-8 columns">
        {{#if talk.imageUrl}}
          <div class="img wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <img src="{{talk.imageUrl}}" alt={{talk.title}} class="round">
          </div>
        {{/if}}
        <h3>{{talk.title}}</h3>
        <p>{{array-join talk.speakers ', '}}</p>
        <div class="accordion-content">
          {{{talk.description}}}
        </div>
      </div>
    </div>
  </section>
{{/with}}
